
.recovery-form {
    max-width: 70vw;
    margin-left: 20px;
    background-color: #392947;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 40px;
    margin: 40px auto;
  }
  .logo {
    width: 10%;
    height: 10%;
    place-items: left left;
  }
  
  .font {
    font-size: 15px;
    color: #ebebeb;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  